.Menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
}

.Menu p {
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
}

.Menu ul {
    padding: 0;
    list-style-type: none;
}

.Menu ul li {
    margin-bottom: 1%;
}