.FreeContent {
    max-width: 100%;
    height: 70vh;
    padding: 0% 10%;
    background-image: url('../../assets/FreeContent/background.jpg');
    background-size: cover;
    position: relative;
}

.FreeContent:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255 , 255, 255, 0.8);
    -webkit-box-shadow: inset 0px 20px 89px 70px rgba(255,255,255,0.98);
    -moz-box-shadow: inset 0px 20px 89px 70px rgba(255,255,255,0.98);
    box-shadow: inset 0px 20px 89px 70px rgba(255,255,255,0.98);
}

.FreeContent .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 45%;
}