.Button {
    width: 50%;
    margin-bottom: 4%;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #FFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(109, 109, 109);
}

.credit {
    padding: 3% 7%;
    background-color: #6CD42F;
}

.vaucher {
    padding: 2% 6%;
    background-color: #EF5989;
}