.Slider {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #6ca2df;
}

.Slider img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.7;
}

.dots {
    width: 8%;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    position: absolute;
    top: 90%;
    left: 5%;
}